default:
  image: docker:28

services:
  - docker:28-dind

before_script:
  - docker info
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  - export DATE=$(date +%Y.%m.%d)
  - export PATCH=$(git rev-list --count HEAD)
  - export BUILD_VERSION="${DATE}.${PATCH}"

stages:
  - build

variables:
  #DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_CERTDIR: ""
## DOCKER_HOST is automatically set by the docker image to tcp://docker:2375
#  DOCKER_DRIVER: overlay2 
#  DOCKER_TLS_CERTDIR: ""
  #AUTO_DEVOPS_BUILD_IMAGE_EXTRA_ARGS: '--build-arg foo=bar'

Build:
  stage: build
  except:
    ## exclude temp branches created by renovate bot
    - /^renovate.*/
  script:
    # fetches the latest image (not failing if image is not found)
    - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest || true
    # builds the project, passing proxy variables, using OCI labels
    # notice the cache-from, which is going to use the image we just pulled locally
    # the built image is tagged locally with calver versioning (YY.MM.DD.patch), and then pushed to 
    # the GitLab registry
    - >
      docker build
      --pull
      --cache-from $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest
      --label "org.opencontainers.image.title=$CI_PROJECT_TITLE"
      --label "org.opencontainers.image.url=$calver versioning (YY.MM.DD.patch)"
      --label "org.opencontainers.image.created=$CI_JOB_STARTED_AT"
      --label "org.opencontainers.image.revision=$BUILD_VERSION"
      --label "org.opencontainers.image.version=$CI_COMMIT_REF_NAME"
      --tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$BUILD_VERSION
      .
    - docker push $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$BUILD_VERSION
    - docker tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$BUILD_VERSION $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest
    - docker push $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest
